---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import WebAppShowcase from '../components/WebAppShowcase.astro';
import MobileAppShowcase from '../components/MobileAppShowcase.astro';
import Roadmap from '../components/Roadmap.astro';
import Newsletter from '../components/Newsletter.astro';
---

<Layout>
  <div id="top" class="flex flex-1 flex-col">
    <Header />

    <main class="flex flex-1 flex-col">
      <Hero />
      <Features />
      <WebAppShowcase />
      <MobileAppShowcase />
      <Roadmap />
      <Newsletter />
    </main>

    <Footer />
  </div>
</Layout>
